@page "/activityform/{ActivityID}"
@page "/activityform/"
@using BerichtsHeft.Client.Pages
@inherits ActivityFormClass
@using BerichtsHeft.DataAccess

<PageTitle>Einreichung Seite</PageTitle>

<h4>Einreichung Seite</h4>
@if (Datei != null && Datei.DateBlock == 0)
{
	Datei.WochenTag = "Montag";
	Datei.AbgabeType = "eine Woche im Unternehmen";
	Datei.DateBlock = 1;
	Datei.Fach = "LF1";
}

<EditForm Model="Datei">
	<div class="form-group">
		<label for="DateOfReport">Meldezeit:</label>
		<InputDate id="DateOfReport" @bind-Value="Datei.DateOfReport" class="form-control"></InputDate>
	</div>
	<div class="form-group">
		<label for="Dauertmin">Wie lange hat diese Lektion gedauert?</label>
		<InputNumber id="Dauertmin" @bind-Value="Datei.DauertMin" class="form-control"></InputNumber> <h5>min</h5>
	</div>

	<div class="form-group">
		<label for="HauptText">HauptText</label>
		<InputText id="HauptText" @bind-Value="Datei.HauptText" class="form-control"></InputText>
	</div>

	<label for="WochenTag">welchen Wochentag ist heute:</label>
	<br />
	<select name="WochenTag" id="WochenTag" @bind="Datei.WochenTag">
		<option>Montag</option>
		<option>Dienstag</option>
		<option>Mittwoch</option>
		<option>Donnerstag</option>
		<option>Freitag</option>
	</select>
	<br />
	<label for="DateiType">wählen Sie den Berichtshefttype:</label>
	<br />
	<select name="DateiType" id="DateiType" @bind="Datei.AbgabeType">
		<option>eine Woche im Unternehmen</option>
		<option>eine Woche in der Schule</option>
	</select>
	<br />
	<label for="DateBlock">wählen Sie den Block:</label>
	<br />
	<select name="DateBlock" id="DateBlock" @bind="Datei.DateBlock">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	</select>
	<br />
	<div class="form-group">
		<label for="Name">Wie heist du?</label>
		<InputText id="Name" @bind-Value="Datei.Name" class="form-control"></InputText>
	</div>
	<br />
	<label for="Subject">wählst du das Fach:</label>
	<br />
	<select name="Fach" id="Subject" @bind="Datei.Fach">
		<option>LF1</option>
		<option>LF2</option>
		<option>LF3</option>
		<option>LF4</option>
		<option>LF5</option>
		<option>DEU</option>
		<option>ENG</option>
		<option>WISO</option>
	</select>
</EditForm>

@if (ActivityID != null)
{
	<button type="submit" class="btn btn-primary" @onclick="UpdateToDb">Fertig</button>
}

@if (ActivityID == null)
{
	<button type="submit" class="btn btn-primary" @onclick="SaveToDb">Speichern</button>
}
@code
{
	
}
