@*@page "/AdminPage"

<h3>AdminPage</h3>

<button type="submit" class="btn btn-primary" @onclick="CreateTable">Speichern</button>

@code {
	private void CreateTable()
	{
		BerichtsHeft.DataAccess.Db.CreateActivityTable();

	}
}*@
