@page "/dateitresor"
@using BerichtsHeft.DataAccess
@using BerichtsHeft.Shared
@using System.Data
@inject NavigationManager NavigationManager

<PageTitle>Dateitresor</PageTitle>

<h4>Dateitresor</h4>
<h5>Anzahl Einträge: @(Db.GetActivitiyCount())</h5>

@foreach (DataRow row in Db.GetActivities().Rows)
{

	string id = (string)row["ID"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];
	int dauerTermin = (int)row["Dauertmin"];

	
}
<div id="box">
	<input type="search" name="search" placeholder="Suchen die Fächer" @bind-value="SubjectPattern">
   <div id="search"></div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Typ</th>
			<th>HauptText</th>
			<th>DateBlock</th>
			<th>Dauert</th>
			<th>WochenTag</th>
			<th>Name</th>
			<th>Fach</th>
			<th>Löschen</th>
			<th>Veränden</th>
		</tr>
	</thead>
	<tbody>
		@ShowDb
		{
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				@*<td><button class="btn btn-danger" @onclick="(() => Activity.Delete())">löschen</button></td>
				<td><button class="btn btn-danger" @onclick="(() => Change())">veränden</button></td>*@
			</tr>
		}
	</tbody>
</table>
@code {
	List<Activity> isql = new List<Activity>();
	public string SubjectPattern { get; set; }
	private void ShowDb()
	{
		BerichtsHeft.DataAccess.Db.SelectActivityTable();
	}
	public  void Change(Activity activityChange)
	{		
		NavigationManager.NavigateTo($"activityform/{activityChange.ID}");
		//DateiInfo.Activities.Remove(activityChange);
	}	
}
