@page "/"

<PageTitle>Index</PageTitle>

<SurveyPrompt Title="Willkommen zurück bei Document Manager v1.0" />

Hier kannst du eine neue Nachricht hinzufügen  <a href="activityform">hier klicken</a>
<br><br>
Hier kannst du alle Nachrichten in der Vergangenheit checken  <a href="dateitesor">hier klicken</a>